table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

thead {
    background-color: lightblue;
}

tbody tr:nth-of-type(even) {
    background-color: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(5),
td:nth-child(5),
th:nth-child(6),
td:nth-child(6) {
    text-align: center;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
    text-align: left;
}

.pagination_wrapper {
    margin-top: 1rem;
    text-align: center;
}

a {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    margin: 0 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: lightgray;
}

a {
    color: black;
}

.pagination a:is(:link, :active, :visited).pagination_active {
    background-color: blue;
    color: white;
    font-weight: bold;
}